{
  "useTabs": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"semi": false,
	"singleQuote": false,
	"printWidth": 125,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"proseWrap": "always",
  "overrides": [
    			{
				"files": "*.html",
				"options": {
					"parser":"html"
				}
			},
			{
				"files": "*.component.html",
				"options": {
					"parser":"angular"
				}
			}
  ]
}
